<header>
<!-- Menu superior -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow">
       <div class="container">
         <a class="navbar-brand h1 mb-0" href="https://noosfero.ufba.br/meninas-digitais-regional-bahia/" id="title-top">
          <img src="/designs/themes/meninas-digitais-regionais/images/logo-mdufba.png" alt="" id="logo-top"> Meninas  Digitais<br><span id="rotulo">Regional Bahia</span><!-- logo oficial da página -->
         </a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">

             <li class="nav-item">
               <%= link_to "Sobre", "#{top_url}/#{profile.identifier}/sobre", class: "nav-link"%>
             </li>

             <li class="nav-item">
               <%= link_to "Parceiras", "#{top_url}/#{profile.identifier}/parceiras", class: "nav-link"%>
             </li>

             <li class="nav-item">
               <%= link_to "Participe", "#{top_url}/#{profile.identifier}/participe", class: "nav-link"%>
             </li>

             <li class="nav-item">
               <%= link_to "Extras", "#{top_url}/#{profile.identifier}/extras", class: "nav-link"%>
             </li>

              <li class="nav-item">
                <%= link_to "Contato", "#{top_url}/#{profile.identifier}/contato", class: "nav-link"%>
              </li>

           </ul>
        </div>
     </div>
  </nav>
</header>
